* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-body-img {
  background-image: url('https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcS-_ycPMliqwjkLSNXt6aMeqPUvYxmz2NJ_PwgLJXxNuuEkQN8H5VApnN0r_vX3KMwMpebw3_EA5sNJHAo');
}
